@page "/grades/{Id:int}"

<TopPageHeader Style="font-size: 28px; top: 10px">Detail Grade</TopPageHeader>

<div class="border-top" style="width: 100%; max-width: 1008px; margin-top: 15px"></div>

<div class="col-12 col-md-12 py-3 px-2" style="max-width: 1100px;" >
    <h2 style="font-size: 34px;">
        @if (Grade.Value < 4)
        {
           
            <Badge Color="BadgeColor.Danger" Style="font-weight: initial;">
                <b>@Grade.Value.ToString("0.##")</b>
            </Badge>
        }
        else
        {
            <b>@Grade.Value.ToString("0.##")</b>
        }
    </h2>
    <CardSubTitle Style="margin-top: 6px;">Weight: @Grade.Weight.Name / @Grade.Weight.Value.ToString("0.0##")</CardSubTitle>
    @* <CardSubTitle Style="margin-top: 6px;">@Grade.Subject.Name | @Grade.Subject.Education.Name | @Grade.Subject.Education.StartDate.Year - @Grade.Subject.Education.EndDate.Year @(String.IsNullOrEmpty(Grade.Subject.Education.Institution) ? "" : "| " + Grade.Subject.Education.Institution.Split(",")[0])</CardSubTitle> *@
</div>

<div class="py-2 px-2">
    <Card Style="max-width: 1000px">
        <CardBody>
            <CardText>
                <b>Description:</b> <br /> @DescriptionString()
            </CardText>
        </CardBody>
    </Card>
</div>
<div class="py-3 px-2" style="margin-bottom: 50px">
    <Card Style="max-width: 1000px">
        <CardBody>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                <!-- First Column -->
                @* <div class="col mb-3">
                    <CardText Class="border-bottom" Style="padding-bottom: 20px; margin-bottom: 6px;">
                        <strong>Subject Average: </strong>
                        @if (_subjectAverage < 4 && _subjectAverage != 0)
                        {
                            <Badge Color="BadgeColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill">
                                @(_subjectAverage == 0 ? "N/A" : _subjectAverage.ToString("0.##"))
                            </Badge>
                        }
                        else
                        {
                            @(_subjectAverage == 0 ? "N/A" : _subjectAverage.ToString("0.##"))
                        }
                    </CardText>
                </div> *@
                <!-- Second Column -->
                <div class="col mb-3">
                    <CardText Class="border-bottom" Style="padding-bottom: 20px; margin-bottom: 6px;">
                        <b>Subject:</b> @Grade.Subject.Name - @Grade.Subject.Semester
                    </CardText>
                </div>
                <div class="col mb-3">
                    <CardText Class="border-bottom" Style="padding-bottom: 20px; margin-bottom: 6px;">
                        <b>Education:</b> @Grade.Subject.Education.Name
                    </CardText>
                </div>
                <div class="col mb-3">
                    <CardText Class="border-bottom" Style="padding-bottom: 20px; margin-bottom: 6px;">
                        <b>Date:</b> @Grade.Date.ToShortDateString()
                    </CardText>
                </div>
                <div class="col mb-3">
                    <CardText Class="border-bottom" Style="padding-bottom: 20px; margin-bottom: 6px;">
                        <b>Institution:</b> @(String.IsNullOrWhiteSpace(Grade.Subject.Education.Institution) ? "-" : Grade.Subject.Education.Institution)
                    </CardText>
                </div>
            </div>
        </CardBody>
    </Card>
</div>

<div class="border-top" style="width: 100%; max-width: 1008px; margin-top: 15px"></div>

<!-- Buttons -->
<div class="d-flex justify-content-between my-3" style="max-width: 1008px">
    <Button Color="ButtonColor.Primary" @onclick="GoBack" Size="ButtonSize.Medium">
        <Icon Name="IconName.ArrowLeft" /> Back
    </Button>
    <Button Color="ButtonColor.Success" @onclick="EditGrade" Size="ButtonSize.Medium">
        Edit <Icon Name="IconName.PencilSquare" />
    </Button>
</div>

@code {
    [Parameter] public int Id { get; set; }

    [Inject] private IGradeRepository _gradeRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }

    public Grade Grade { get; set; }
    //private decimal _subjectAverage;

    protected override async Task OnInitializedAsync()
    {
        // Load the education details
        Grade = await _gradeRepository.GetByIdDetailAsync(Id);

        // Calculate the average only after loading the education data
        //await CalculateSubjectAverage();
    }

    private string DescriptionString() => string.IsNullOrEmpty(Grade.Description) ? "-" : Grade.Description;

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("window.history.back");
    }

    private void EditGrade()
    {
        Navigation.NavigateTo($"/grades/{Grade.Id}/edit");
    }

    #region Averages Currently Not Used

    private async Task CalculateSubjectAverage()
    {
        var grades = await _gradeRepository.GetBySubjectIdAsync(Grade.Id);
        //_subjectAverage = CalculateWeightedAverage(grades);
    }

    private decimal CalculateWeightedAverage(ICollection<Grade> grades)
    {
        if (grades == null || !grades.Any())
        {
            return 0;
        }

        decimal totalWeight = grades.Sum(g => g.Weight?.Value ?? 1); // Default weight to 1 if null
        if (totalWeight == 0)
        {
            return 0;
        }

        decimal weightedSum = grades.Sum(g => g.Value * (g.Weight?.Value ?? 1)); // Default weight to 1 if null
        return weightedSum / totalWeight;
    }

    #endregion

}
