@page "/notes/{Id:int}"

<TopPageHeader Style="font-size: 28px; top: 10px">Detail Note</TopPageHeader>

<ConfirmDialog @ref="_dialog" />

<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <div class="border-top generic-devider-line" style="margin-top: -1px"></div>
        <div class="col-12 col-md-12 py-3" style="max-width: 1200px;">
            <h2 style="margin-bottom: 11px;">
                <strong class="enabled-text-selection">@Note.Title</strong>
            </h2>
            <CardSubTitle Class="enabled-text-selection" Style="font-size: 17px;">Color: @Note.Color.Name @Note.Color.Symbol</CardSubTitle>
            <CardSubTitle Class="enabled-text-selection" Style="margin-top: 6px;">
                @if (Note is { IsPinned: true, IsArchived: true })
                {
                    <span>Pinned 📌 | Archived <i class="bi bi-archive"></i></span>
                }
                else if (Note.IsPinned)
                {
                    <span>Pinned 📌</span>
                }
                else if (Note.IsArchived)
                {
                    <span>Archived <i class="bi bi-archive"></i></span>
                }
            </CardSubTitle>
        </div>
        @*Todo: ||
                \/*@
        <div class="py-2">
            <div style="max-width: 1050px; text-align: center;">
                <Button @onclick="ShowNoteContent" Class="btn-translucient-v4 btn-show-content border-dark-subtle">Show Content <Icon Name="IconName.ArrowDownCircle" /></Button>
            </div>
        </div>
        <div class="pb-3 pt-2" style="margin-bottom: 50px">
            <Card Style="max-width: 1050px">
                <CardBody>
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                        @* <div class="col mb-3">
                            <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 17px; margin-bottom: 6px;">
                                <b class="enabled-text-selection">Education:</b>
                                <span style="white-space: nowrap;">
                                    <Button @onclick="GoToEducation" Class="btn-translucient-v2 border-0 enabled-text-selection btn-entity-link" Style="padding: 3px; padding-left: 6px; padding-right: 6px; font-size: initial; margin-top: -4px; margin-left: -5px; white-space: normal;">@Note.Subject.Education.Name <Icon Name="IconName.ArrowUpRightCircle" /></Button>
                                    <CompletionStateBadge Completed="Note.Subject.Education.Completed" MarginBottom="2" />
                                </span>
                            </CardText>
                        </div> *@
                        <div class="col mb-3">
                            <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px; margin-bottom: 6px;">
                                <b class="enabled-text-selection">Updated at:</b> @Note.UpdatedAt.ToString("f")
                            </CardText>
                        </div>
                        @* <div class="col mb-3">
                            <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 17px; margin-bottom: 6px;">
                                <b class="enabled-text-selection">Subject:</b>
                                <span style="white-space: nowrap;">
                                    <Button @onclick="GoToSubject" class="btn-translucient-v2 border-0 enabled-text-selection btn-entity-link" style="padding: 3px; padding-left: 6px; padding-right: 6px; font-size: initial; margin-top: -4px; margin-left: -5px; white-space: normal;"> @Note.Subject.Name - @Note.Subject.Semester <Icon Name="IconName.ArrowUpRightCircle" /></Button>
                                    <CompletionStateBadge Completed="Note.Subject.Completed" MarginBottom="2" />
                                </span>
                            </CardText>
                        </div> *@
                        <div class="col mb-3">
                            <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px; margin-bottom: 6px;">
                                <b class="enabled-text-selection">Created at:</b> @Note.CreatedAt.ToString("f")
                            </CardText>
                        </div>
                    </div>
                </CardBody>
            </Card>
        </div>

        <div class="border-top generic-devider-line" style="margin-top: 15px; opacity: 0.5;"></div>

        <div class="d-flex justify-content-between my-3" style="max-width: 1050px">
            <Button Color="ButtonColor.Primary" @onclick="GoBack" Size="ButtonSize.Medium">
                <Icon Name="IconName.ArrowLeft" /> Back
            </Button>
            <div>
                <Button Color="ButtonColor.Success" @onclick="EditNote" Size="ButtonSize.Medium">
                    Edit <Icon Name="IconName.PencilSquare" />
                </Button>
                <Button Color="ButtonColor.Danger" @onclick="DeleteNoteAsync" Size="ButtonSize.Medium" TooltipTitle="Delete" Style="margin-left: 8px; padding-left: 10px; padding-right: 10px;">
                    <Icon Name="IconName.Trash" />
                </Button>
            </div>
        </div>

        <div class="border-top generic-devider-line" style="opacity: 0.5;"></div>
        
        <div class="py-1" style="margin-bottom: 50px">
            <Card Style="max-width: 1050px">
                <CardBody>
                    @if (string.IsNullOrWhiteSpace(Note.Content))
                    {
                        <CardText Style="text-align: center;">The content of this note is empty.</CardText>
                    }
                    else
                    {
                        <Markdown TableCssClass="table table-striped table-hover table-bordered">@Note.Content</Markdown>
                    }
                </CardBody>
            </Card>
        </div>
    </div>
</section>

<style>
    .tooltip {
        display: none !important;
    }

    #scrollToTopButton {
        display: none !important;
    }
</style>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {

}
