@page "/educations/{Id:int}"

<TopPageHeader Style="font-size: 28px; top: 10px">Detail Education</TopPageHeader>

<div class="border-top" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

<div class="container align-content-center">
    <div class="border-top" style="width: 100%; max-width: 1050px; margin-top: -1px"></div>
    <div class="col-12 col-md-12 py-3" style="max-width: 1200px;">
        <h2 style="margin-bottom: 11px;">
            <b class="enabled-text-selection">@Education.Name</b>
        </h2>
        <CardSubTitle Class="enabled-text-selection" Style="font-size: 17px">@Education.StartDate.ToShortDateString() - @Education.EndDate.ToShortDateString()</CardSubTitle>
        <CardSubTitle Class="enabled-text-selection" Style="margin-top: 6px;">@Education.Institution</CardSubTitle>
    </div>

    <div class="py-2">
        <Card Style="max-width: 1050px">
            <CardBody>
                <CardText Class="enabled-text-selection">
                    <b class="enabled-text-selection">Description:</b> <br class="enabled-text-selection" /> @DescriptionString()
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="py-3" style="margin-bottom: 50px">
        <Card Style="max-width: 1050px">
            <CardBody>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">
                    <!-- First Column -->
                    <div class="col mb-3">
                        <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px; margin-bottom: 6px;">
                            <strong class="enabled-text-selection">Education Average: </strong>
                            @if (_educationAverage < 4 && _educationAverage != 0)
                            {
                                <Badge Class="enabled-text-selection" Color="BadgeColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill" Style="font-size: 14px;">
                                    @(_educationAverage == 0 ? "N/A" : _educationAverage.ToString("0.##"))
                                </Badge>
                            }
                            else
                            {
                                @(_educationAverage == 0 ? "N/A" : _educationAverage.ToString("0.##"))
                            }
                        </CardText>
                    </div>
                    <!-- Second Column -->
                    <div class="col mb-3">
                        <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px; margin-bottom: 6px;">
                            <b class="enabled-text-selection">Total Semesters:</b> @Education.Semesters
                        </CardText>
                    </div>
                    <div class="col mb-3">
                        <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px; margin-bottom: 6px;">
                            <b class="enabled-text-selection">Completion State:</b>
                            <Badge Class="enabled-text-selection" Color="@(Education.Completed ? BadgeColor.Success : BadgeColor.Warning)" IndicatorType="BadgeIndicatorType.RoundedPill">
                                @(Education.Completed ? "Completed" : "In Progress")
                            </Badge>
                        </CardText>
                    </div>
                    <div class="col mb-3">
                        <CardText Class="border-bottom enabled-text-selection" Style="padding-bottom: 20px;">
                            <b class="enabled-text-selection">Subject Amount:</b> @Education.Subjects.Count()
                        </CardText>
                    </div>
                </div>
            </CardBody>
        </Card>
    </div>

    <div class="border-top" style="width: 100%; max-width: 1050px; margin-top: 15px"></div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between my-3" style="max-width: 1050px">
        <Button Color="ButtonColor.Primary" @onclick="GoBack" Size="ButtonSize.Medium">
            <Icon Name="IconName.ArrowLeft"/> Back
        </Button>
        <Button Color="ButtonColor.Success" @onclick="EditEducation" Size="ButtonSize.Medium">
            Edit <Icon Name="IconName.PencilSquare"/>
        </Button>
    </div>

    <div class="border-top" style="width: 100%; max-width: 1050px; opacity: 0.5;"></div>

    @if (Education.Subjects.Any()) 
    {
        <div class="topPageSubHeader border-bottom" style="max-width: 1050px;">
            <h5>@Education.Name</h5>
        </div>
    }
    
    <div class="text-end" style="max-width: 1050px; padding-top: 30px;">
        @if (Education.Completed)
        {
            <Tooltip Title="This Education is completed" Placement="TooltipPlacement.Left" Style="padding-bottom: 4px;">
                <Button Disabled="true" @onclick="() => GoToNewSubject(Education.Id)" class="btn-secondary btn-sm px-1" style="width: 115px; margin-right: 32px;">
                    New Subject <i class="bi bi-plus-circle"></i>
                </Button>
            </Tooltip>
        }
        else
        {
            <Button @onclick="() => GoToNewSubject(Education.Id)" class="btn-secondary btn-sm px-1" style="width: 115px; margin-right: 32px;">
                New Subject <i class="bi bi-plus-circle"></i>
            </Button>
        }
    </div>

    <ConfirmDialog @ref="_dialog" />

    <div class="component-card-grid min-component-card-grid py-4" style="max-width: 1050px; padding-top: 0 !important;">
        <!--set overflow to hidden maybe-->
        @* <Virtualize TItem="Education" Items="@(_filteredEducations.OrderByDescending(e => e.Id).ToList())" Context="education" OverscanCount="12"> *@
        <Virtualize TItem="Subject" Items="Education.Subjects.OrderByDescending(s => s.Id).ToList()" Context="subject" OverscanCount="12" @ref="_virtualizeComponent">
            <ItemContent>
                <SubjectCard @key="@subject.Id" Subject="@subject" OnSubjectDeleted="RefreshSubjectData" Dialog="_dialog" />
            </ItemContent>
            <EmptyContent>
                <div></div>
                <div class="text-center py-4" style="grid-column: 1/-1;">
                    <p>No subjects found. Create new subject?</p><!--was: Try adjusting your search or add a new education.-->
                </div>
                <div></div>
            </EmptyContent>
            @* <Placeholder>
                <div class="text-center">
                    <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Secondary" />
                </div>
            </Placeholder> *@
        </Virtualize>
    </div>
</div>

<ScrollTopButton />

<script>
        window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {

}