<Card Class="px-0 mx-3 my-3" Style="user-select: text; max-width: 450px" >
    @* <CardHeader>
        <b>@Education.Name</b>
    </CardHeader> *@
    <CardHeader>
        <CardTitle Style="padding-top: 6px"><b>@Education.Name</b></CardTitle>
        <CardSubTitle Class="mb-2 text-muted">@Education.StartDate.Year - @Education.EndDate.Year</CardSubTitle>
    </CardHeader>
    <CardBody>
        <CardText><b>Description:</b> <br /> @Education.Description</CardText>
    </CardBody>
    <CardBody Class="border-top">
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;"><b>Education Average:</b> @(_educationAverage == 0 ? "N/A" : _educationAverage)</CardText>
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;"><b>Total Semesters:</b> @Education.Semesters</CardText>
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;"><b>Completion State:</b> @GetEducationState()</CardText>
        <CardText><b>Subject Amount:</b> @Education.Subjects.Count()</CardText>
    </CardBody>
    @* <ul class="list-group list-group-flush">
        <li class="list-group-item border-top-0"><b>Education Average:</b> @(_educationAverage == 0 ? "N/A" : _educationAverage)</li>
        <li class="list-group-item"><b>Total Semesters:</b> @Education.Semesters</li>
        <li class="list-group-item"><b>Completion State:</b> @GetEducationState()</li>
        <li class="list-group-item"><b>Subject Amount:</b> @Education.Subjects.Count()</li>
    </ul> *@
    <CardFooter Style="text-align: end">
        <Button Size="ButtonSize.Small" Color="ButtonColor.Primary">
            Detail <Icon Name="IconName.ArrowRight" Size="IconSize.x6" />
        </Button>
        <Button Size="ButtonSize.Small" Color="ButtonColor.Danger" Style="margin-left: 6px">
            <Icon Name="IconName.Trash" Size="IconSize.x6" />
        </Button>
    </CardFooter>
</Card>

@code {
    [Parameter]
    public Education Education { get; set; }

    [Inject] private IGradeRepository _gradeRepository { get; set; }

    private decimal _educationAverage;

    protected override async Task OnInitializedAsync()
    {
        await CalculateEducationAverage();
    }

    private string GetEducationState()
    {
        return Education.Completed == true ? "Completed" : "In Progress";
    }

    private async Task CalculateEducationAverage()
    {
        // var grades
        await _gradeRepository.GetBySubjectIdsAsync(Education.Subjects.Select(s => s.Id).ToList());
        _educationAverage = CalculateEducationAverage(Education.Subjects);
    }

    private decimal CalculateEducationAverage(List<Subject> subjects)
    {
        if (subjects == null || !subjects.Any())
        {
            return 0;
        }

        var subjectAverages = subjects
            .Where(s => s.Grades != null && s.Grades.Any())
            .Select(s => s.Grades.Average(g => g.Value));

        if (!subjectAverages.Any())
        {
            return 0;
        }

        return subjectAverages.Average();
    }
}