<Card Class="px-0 mx-3 my-3" Style="user-select: text; max-width: 100%;">
    <CardHeader>
        <CardTitle Style="padding-top: 6px">
            <b>@Education.Name</b>
        </CardTitle>
        <CardSubTitle Class="mb-2 text-muted">@Education.StartDate.Year - @Education.EndDate.Year @TruncateString(String.IsNullOrEmpty(Education.Institution) ? " " : "| " + Education.Institution.Split(",")[0], 15)</CardSubTitle>
    </CardHeader>
    <CardBody>
        <CardText>
            <b>Description:</b> <br/> @TruncateString(String.IsNullOrEmpty(Education.Description) ? "-" : Education.Description, 200)
        </CardText>
    </CardBody>
    <CardBody Class="border-top">
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;">
            <b>Education Average: </b>
            @if (_educationAverage < 4 && _educationAverage != 0)
            {
                <Badge Color="BadgeColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill" Style="font-size: 14px;">
                    @(_educationAverage == 0 ? "N/A" : _educationAverage.ToString("0.##"))
                </Badge>
            }
            else
            {
                @(_educationAverage == 0 ? "N/A" : _educationAverage.ToString("0.##"))
            }
        </CardText>
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;">
            <b>Total Semesters:</b> @Education.Semesters
        </CardText>
        <CardText Class="border-bottom" Style="padding-bottom: 11px; margin-bottom: 11px;">
            <b>Completion State:</b>
            <Badge Color="@(Education.Completed ? BadgeColor.Success : BadgeColor.Warning)" IndicatorType="BadgeIndicatorType.RoundedPill">
                @(Education.Completed ? "Completed" : "In Progress")
            </Badge>
        </CardText>
        <CardText>
            <b>Subject Amount:</b> @Education.Subjects.Count()
        </CardText>
    </CardBody>
    <CardFooter Style="text-align: end">
        <Button Size="ButtonSize.Small" Color="ButtonColor.Primary" @onclick="EducationDetail">
            Detail <Icon Name="IconName.ArrowRight" Size="IconSize.x6"/>
        </Button>
        <Button Size="ButtonSize.Small" Color="ButtonColor.Danger" Style="margin-left: 6px" TooltipTitle="Delete Education" @onclick="DeleteEducationAsync">
            <Icon Name="IconName.Trash" Size="IconSize.x6"/>
        </Button>
    </CardFooter>
</Card>

<ConfirmDialog @ref="_dialog"/>

@code {
    [Parameter] public Education Education { get; set; }
    [Parameter] public EventCallback<int> OnEducationDeleted { get; set; }

    //[Inject] private IGradeRepository _gradeRepository { get; set; }
    [Inject] private IEducationRepository _educationRepository { get; set; }

    [Inject] private NavigationManager Navigation { get; set; }

    private decimal _educationAverage;

    protected override async Task OnInitializedAsync()
    {
        await CalculateEducationAverage();
    }

    private string TruncateString(string name, int maxLength)
    {
        if (string.IsNullOrEmpty(name) || name.Length <= maxLength)
        {
            return name;
        }

        return name.Substring(0, maxLength) + "...";
    }

    #region Averages

    private async Task CalculateEducationAverage()
    {
        // var grades
        // get all grades outside of card to save queries? too many queries!?
        //await _gradeRepository.GetBySubjectIdsAsync(Education.Subjects.Select(s => s.Id).ToList());
        _educationAverage = CalculateEducationAverage(Education.Subjects);
    }

    private decimal CalculateWeightedAverage(ICollection<Grade> grades)
    {
        if (grades == null || !grades.Any())
        {
            return 0;
        }

        decimal totalWeight = grades.Sum(g => g.Weight?.Value ?? 1); // Default weight to 1 if null
        if (totalWeight == 0)
        {
            return 0;
        }

        decimal weightedSum = grades.Sum(g => g.Value * (g.Weight?.Value ?? 1)); // Default weight to 1 if null
        return weightedSum / totalWeight;
    }

    private decimal CalculateEducationAverage(List<Subject> subjects)
    {
        if (subjects == null || !subjects.Any())
        {
            return 0;
        }

        var subjectAverages = subjects
            .Where(s => s.Grades != null && s.Grades.Any())
            .Select(s => CalculateWeightedAverage(s.Grades));

        if (!subjectAverages.Any())
        {
            return 0;
        }

        return subjectAverages.Average();
    }

    #endregion

    private Task EducationDetail()
    {
        Navigation.NavigateTo($"/educations/{Education.Id}");
        return Task.CompletedTask;
    }

    #region Delete Education

    private ConfirmDialog _dialog = default!;

    [Inject] protected ToastService ToastService { get; set; } = default!;

    private async Task DeleteEducationAsync()
    {
        var options = new ConfirmDialogOptions
        {
            YesButtonColor = ButtonColor.Danger,
        };

        var confirmation = await _dialog.ShowAsync(
            title: "Are you sure you want to delete this Education?",
            message1: $"{Education.Name} and all related objects will be deleted.",
            message2: "Do you want to proceed?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            try
            {
                _educationRepository.DeleteByIdAsync(Education.Id);
                await OnEducationDeleted.InvokeAsync(Education.Id);
                ToastService.Notify(new ToastMessage(ToastType.Success, $"Education deleted successfully."));
            }
            catch (Exception e)
            {
                ToastService.Notify(new ToastMessage(ToastType.Danger, $"Error deleting education: {e.Message}"));
            }
        }
        else
        {
            //ToastService.Notify(new ToastMessage(ToastType.Info, $"Delete action canceled."));
        }
    }

    #endregion

}